<html>
	<style>
		body{ 
			font-size: 15pt;
			font-family: arial;
			text-align: center;
		}

		a {
			text-decoration: none;
			color: #000;
		}

		#wrapper {
			padding: 100px;
		}

		.btn {
			width: 300px;
			height: 100px;
			margin: 50px auto;
			line-height: 100px;
			text-align: center;
		}

		#restaurants {
			background-color: #f49542;
		}

		#search {
			background-color: #429ef4;
		}
	</style>


	<body>
		<div id="wrapper">
			<h1 id="title">FUDFUDFUDFUDFUD</h1>
			<a href="/restaurants"><div id="restaurants" class="btn">All Restaurants</div></a>
			<a href="/search"><div id="search" class="btn">Search for Food</div></a>
      <a href="/logout"><div id="logout" class="btn">Logout</div></a>
		</div>
	</body>

	<script type="text/javascript">
		function changeColor(){
			document.getElementById("title").style.color = (function(m,s,c){return (c ? arguments.callee(m,s,c-1) : '#') +
			s[m.floor(m.random() * s.length)]})(Math,'89ABCDEF',5);
			setTimeout(function(){
				changeColor();
			}, 500);
		}

  		changeColor();
	</script>
</html>