<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
  </style>


<body>
  <h1>Review For {{mname}}</h1>

  <div> Average rating: {{avg_rating}}</div>
  <br/>
  <table>
  <tr>
    <th>Reviewer</th>
    <th>Time</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
  {% for n in data %}
    <tr>
      <td>{{n[0]}}</td>
      <td>{{n[1]}}</td>
      <td>{{n[2]}}</td>
      <td>{{n[3]}}</td>
    </tr>
  {% endfor %}
  </table>
</body>

</html>
