<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
    #comment {
      width: 300px;
      height: 120px;
    }
    #hidden {
      display: none;
    }
  </style>


<body>
  <h1>Reviews For {{mname}}</h1>
  <h4>Served at: <a href="/menu?rid={{rid}}">{{rname}}</a> | Category: {{cname}} </h4>

  <div> Average rating: {{avg_rating}}</div>
  <div> Number of ratings: {{num_ratings}}</div>
  <br/>
  {% if num_ratings > 0 %}
  <table>
  <tr>
    <th>Reviewer</th>
    <th>Time</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
  {% for n in data %}
    <tr>
      <td><a href="/user?uid={{n[0]}}">{{n[1]}}</a></td>
      <td>{{n[2]}}</td>
      <td>{{n[3]}}</td>
      <td>{{n[4]}}</td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}

  <h3>Add a review for {{mname}}</h3>
  <form method="POST" action="/add_review">
    <div>
      <textarea placeholder="Enter review here..." name="comment" id="comment"></textarea>
    </div>
    <p>Rating (0-10): <input type="number" name="rating" min="0" max="10" required></p>
    <p id="hidden"><input type="number" name="mid" value="{{mid}}"></p>
    <p><input type="submit" value="Add Review"></p>
  </form>
</body>

</html>
