<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
  </style>


<body>
  <h1>Reviews For {{mname}}</h1>

  <div> Average rating: {{avg_rating}}</div>
  <br/>
  <table>
  <tr>
    <th>Reviewer</th>
    <th>Time</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
  {% for n in data %}
    <tr>
      <td><a href="/user?uid={{n[0]}}">{{n[1]}}</a></td>
      <td>{{n[2]}}</td>
      <td>{{n[3]}}</td>
      <td>{{n[4]}}</td>
    </tr>
  {% endfor %}
  </table>

  <h3>Add a review for {{mname}}</h3>
  <form method="POST" action="/add_review">
    <p>
      <input placeholder="Review" type="text" name="review" required>  
    </p>
    <p><input type="submit" value="Add Review"></p>
  </form>
</body>

</html>
