<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
  </style>


<body>
  <h1>Reviews By {{uname}}</h1>

  <table>
  <tr>
    <th>Time</th>
    <th>Menu Item</th>
    <th>Restaurant</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
  {% for n in data %}
    <tr>
      <td>{{n[0]}}</td>
      <td><a href="/reviews?mid={{n[1]}}">{{n[2]}}</a></td>
      <td><a href="/menu?rid={{n[3]}}">{{n[4]}}</a></td>
      <td>{{n[5]}}</td>
      <td>{{n[6]}}</td>
    </tr>
  {% endfor %}
  </table>
</body>

</html>
